*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  user-select: none;
}
:root {
  --h1-size: 2rem;
  --h1-color: #75888a;
  --p-size: 24px;
  --p-color: wheat;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(./static/images/background-img.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: var(--h1-size);
  color: var(--h1-color);
}
p {
  font-size: var(--p-size);
  color: var(--p-color);
}
ul {
  list-style-type: none;
}

.display {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.inputArea {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.contextDisp {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context {
  width: 400px;
  height: 150px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.input {
  font-size: 32px;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid wheat;
  background: transparent;
  backdrop-filter: blur(1px);
}

.input::placeholder {
  color: #3a3a3a;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 20px #3a3a3a;
}

.btn {
  background: transparent;
  padding: 1.5rem;
  border-radius: 10px;
  color: wheat;
  background-color: #f44336;
  border: 1px solid wheat;
  cursor: pointer;

  animation: btnAni;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes btnAni {
  50% {
    transform: translateX(10px);
  }
}

.header {
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  width: 80%;
  height: 70px;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input {
    font-size: 24px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid wheat;
    background: transparent;
    backdrop-filter: blur(1px);
  }
  .btn {
    background: transparent;
    padding: 1.2rem;
    border-radius: 10px;
    color: wheat;
    background-color: #f44336;
    border: 1px solid wheat;
    cursor: pointer;

    animation: btnAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: 450px) {
  .inputArea {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    flex-direction: column;
  }
  .header {
    width: 100%;
  }
}
